.form{
    @extend .app--wrapper--item;
   
    .form--title{
        @extend .app--wrapper--item--title;
    }
	.form--selected--user{
		@extend .inlineBlock;
		width:100%;
		margin:5vh 0;
		color:white;
		font-size:.75rem;
		text-transform:uppercase;
	}
	.form--input--wrapper{
		@extend .inlineBlock;
		width:100%;
		margin:5vh 0;
	}
    .form--input--wrapper[name="text"]{
        .form--input--label{
            @extend .absolute;
            top:0%;
            width:100%;
            color:white;
            font-size:.75rem;
            text-transform:uppercase;
            transition:all .3s ease;
        }
        .form--input{
            @extend .inlineBlock;
            width:100%;
            padding:4vh 0 2.5vh 0;
            border-bottom:1px solid white;
            font-size:.75rem;
        }
        // .form--input:focus + .form--input--label{
        //     top:0%;
        // }
		// .form--input--label--focus{
		// 	top:0%;
		// }
    }
	.form--input--wrapper[name="radio"]{
		.form--input[name="radios"]{
			display:none;
		}
		.form--input--label{
			@extend .inlineBlock;
			color:white;
            font-size:.75rem;
            text-transform:uppercase;
            transition:all .3s ease;
			padding:1.25vh 2.5vh;
			border-radius:6px;
			// background-color:rgba(255,255,255,.125);
			// background-color:rgba(11,13,15,.125);
			background-color:rgba(255,255,255,.075);
			margin:0 2.5vh 0 0;
			cursor:pointer;
		}
		.form--input[name="radios"]:checked + .form--input--label{
			background-color:$baseColor;
		}
		// #radio--deposit:checked + .form--input--label{
		// 	background-color:DarkSalmon;
		// 	color:black;
		// }
		// #radio--withdraw:checked + .form--input--label{
		// 	background-color:MediumSpringGreen;
		// 	color:black;
		// }
	}
    .form--task--colour--selector--wrapper{
        @extend .inlineBlock;
        width:100%;
        padding:5vh 0;
        .form--task--colour--selector--wrapper--label{
            @extend .inlineBlock;
            width:100%;
            font-size:.75rem;
            color:white;
            text-transform:uppercase;
            padding:0 0 2.5vh 0;
        }
        input[type="radio"]{
            display:none;
        }
        .task--colour--selector--label{
            @extend .inlineBlock;
            height:3vh;
            width:3vh;
            border-radius:100%;
            cursor:pointer;
            margin:0 1.25vh 0 0;
        }
        .form--radio:checked + .task--colour--selector--label{
            border:3px solid white;
        }
    }
    .form--submit{
        @extend .button;
        font-size:.75rem;
        // background-color:rgba(255,255,255,.175);
		background-color:$baseColor;
        margin:2.5vh 0 0 0;
    }
}